--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.6.0+cu124
torchaudio==2.6.0+cu124
transformers==4.49.0
accelerate==1.4.0
torchdiffeq==0.2.5
x-transformers==2.1.2
geomloss==0.2.6
numpy==1.26.4
PyYAML==6.0.2
